.App {
  margin: 5vh auto 0;
  width: 50%;
  color: white;
}
h1{
  color: rgb(41, 127, 226);
}
/*Form*/
form {
  margin-bottom: 5px;
}
.text {
  background-color: white;
  color: black;
  border-radius: 5px 0 0 5px;
  border-right: 0;
}

.button1 {
  height: 4.3vh;
  right: 5px;
}

.button2{
  left: 10px;
}

li {
  margin: 0 auto;
  width: 30%;
  max-width: 50%;
}

/*app*/
span{
  font-style: italic;
  font-weight: 100;
}

p {
  font-size: large;
  font-weight: bold;
}

li span {
  all: unset;
}